body{
    background-color: rgb(212, 170, 92);
}
h1, h2, h3, h4{
    text-align: center;
    
}
div{ 
    background-color: rgb(236, 191, 107);
}
h5{
    text-align: right;
    font-size: 17px;
}
h4{
    font-size: 17px;
    padding: 0%;
    margin: 0%;
    font-style: oblique;
    
}
h3{
    padding: 0%;
    margin: 1%;
    font-style: oblique;
    font-size: 20px;
}
h2{
    font-style:oblique;
}
.menu{
    float: left;
    width: 33%;
}
ul a{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
ul a:hover{
    background-color: rgb(240, 173, 74);
}
ul{
    list-style-type: none;
    background-color:  rgb(172, 136, 70);
    overflow:  hidden;
    margin: 0%;
    padding: 0%;
}